In [1]:
import numpy as np
import pandas as pd

In [2]:
features = pd.read_csv('/Users/victorli/DATA/CODE-15%/exams.csv')
features

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id,death,timey,normal_ecg,trace_file
0,1169160,38,True,40.160484,False,False,False,False,False,False,523632,False,2.098628,True,exams_part13.hdf5
1,2873686,73,True,67.059440,False,False,False,False,False,False,1724173,False,6.657529,False,exams_part13.hdf5
2,168405,67,True,79.621740,False,False,False,False,False,True,51421,False,4.282188,False,exams_part13.hdf5
3,271011,41,True,69.750260,False,False,False,False,False,False,1737282,False,4.038353,True,exams_part13.hdf5
4,384368,73,True,78.873460,False,False,False,False,False,False,331652,False,3.786298,False,exams_part13.hdf5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345774,1123951,33,True,35.893005,False,False,False,False,False,False,770553,False,2.189039,True,exams_part2.hdf5
345775,954704,73,False,68.169136,False,False,False,False,False,False,1044781,False,2.520546,False,exams_part2.hdf5
345776,589697,75,False,78.080810,False,False,False,False,False,False,1020589,False,3.304107,False,exams_part2.hdf5
345777,2780563,44,False,73.120636,False,False,False,False,False,False,178,False,7.339720,False,exams_part2.hdf5
345778,1576698,27,False,31.939650,False,False,False,False,False,False,1597868,False,1.298629,False,exams_part2.hdf5

In [4]:
numerical_features = features[['age', 'nn_predicted_age', 'timey']]
numerical_features.describe()

                 age  nn_predicted_age          timey
count  345779.000000     345779.000000  233647.000000
mean       53.240495         54.099963       3.676905
std        19.695125         18.534262       1.874012
min        17.000000        -40.220116       0.000000
25%        37.000000         37.756269       2.104108
50%        54.000000         55.402687       3.457531
75%        70.000000         69.619270       5.208215
max       100.000000        106.895454       7.676706

In [ ]:
categorical_features = features[['is_male', '1dAVb', 'RBBB', 'LBBB', 'SB', 'ST', 'AF', 'death', 'normal_ecg']]
chagas = pd.read_csv('/Users/victorli/DATA/CODE-15%/code15_chagas_labels.csv')
categorical_features = pd.concat([categorical_features, chagas['chagas']], axis=1)
categorical_features.describe()

,is_male,1dAVb,RBBB,LBBB,SB,ST,AF,death,normal_ecg,chagas
count,345779,345779,345779,345779,345779,345779,345779,233647,345779,343424
unique,2,2,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False
freq,206576,340063,336107,339753,340174,338195,338746,225306,211122,336863