In [65]:
import numpy as np
import pandas as pd

In [4]:
features = pd.read_csv('/Volumes/SanDisk SSD/PhysioNet-Challenge/CODE-15%/exams.csv')
features

,exam_id,age,is_male,nn_predicted_age,1dAVb,RBBB,LBBB,SB,ST,AF,patient_id,death,timey,normal_ecg,trace_file
0,1169160,38,True,40.160484,False,False,False,False,False,False,523632,False,2.098628,True,exams_part13.hdf5
1,2873686,73,True,67.059440,False,False,False,False,False,False,1724173,False,6.657529,False,exams_part13.hdf5
2,168405,67,True,79.621740,False,False,False,False,False,True,51421,False,4.282188,False,exams_part13.hdf5
3,271011,41,True,69.750260,False,False,False,False,False,False,1737282,False,4.038353,True,exams_part13.hdf5
4,384368,73,True,78.873460,False,False,False,False,False,False,331652,False,3.786298,False,exams_part13.hdf5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345774,1123951,33,True,35.893005,False,False,False,False,False,False,770553,False,2.189039,True,exams_part2.hdf5
345775,954704,73,False,68.169136,False,False,False,False,False,False,1044781,False,2.520546,False,exams_part2.hdf5
345776,589697,75,False,78.080810,False,False,False,False,False,False,1020589,False,3.304107,False,exams_part2.hdf5
345777,2780563,44,False,73.120636,False,False,False,False,False,False,178,False,7.339720,False,exams_part2.hdf5
345778,1576698,27,False,31.939650,False,False,False,False,False,False,1597868,False,1.298629,False,exams_part2.hdf5

In [63]:
numerical_features = features[['age', 'nn_predicted_age', 'timey']]
numerical_summary = numerical_features.describe().loc[['mean', 'std']]
numerical_summary.loc['min'] = numerical_features.min()
numerical_summary.loc['max'] = numerical_features.max()

numerical_summary.loc['min', 'timey'] = numerical_features[numerical_features['timey'] > 0]['timey'].min()

numerical_summary = numerical_summary.map(lambda x: round(x, 4))

categorical_features = features[['is_male', '1dAVb', 'RBBB', 'LBBB', 'SB', 'ST', 'AF', 'death', 'normal_ecg']]
categorical_features.loc[:, 'death'] = categorical_features['death'].astype('bool', errors='ignore')
categorical_summary = categorical_features.mean()

death_true_percentage = categorical_features['death'].apply(lambda x: x == True).mean()
death_null_percentage = features['death'].isna().sum() / len(categorical_features)

categorical_summary['death'] = death_true_percentage
categorical_summary['death_null'] = death_null_percentage

categorical_summary = categorical_summary.map(lambda x: round(x, 4))

print("Numerical Features Summary:")
print(numerical_summary)
print("\nCategorical Features Summary (Percentage of True values):")
print(categorical_summary)

Numerical Features Summary:
           age  nn_predicted_age   timey
mean   53.2405           54.1000  3.6769
std    19.6951           18.5343  1.8740
min    17.0000          -40.2201  0.0027
max   100.0000          106.8955  7.6767

Categorical Features Summary (Percentage of True values):
is_male       0.4026
1dAVb         0.0165
RBBB          0.0280
LBBB          0.0174
SB            0.0162
ST            0.0219
AF            0.0203
death         0.3484
normal_ecg    0.3894
death_null    0.3243
dtype: float64

In [58]:
chagas = pd.read_csv('/Volumes/SanDisk SSD/PhysioNet-Challenge/code15_chagas_labels.csv')

chagas_true_percentage = chagas['chagas'].mean()
print(f"True percentage of chagas: {chagas_true_percentage:.4f}")

True percentage of chagas: 0.0191